APP_NAME=SchoolRun Shared Backend
APP_ENV=production
APP_VERSION=1.0.0
API_V1_PREFIX=/api
SERVER_HOST=0.0.0.0
SERVER_PORT=8000
AUTO_CREATE_TABLES=true
SQL_ECHO=false
CORS_ALLOW_ORIGINS=*

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=schoolrun_shared
MYSQL_USER=schoolrun_app
MYSQL_PASSWORD=change_me
MYSQL_CHARSET=utf8mb4

ADMIN_USERNAME=admin
ADMIN_PASSWORD=change_me_admin
ADMIN_SESSION_SECRET=change_me_session_secret
MOBILE_AUTH_SECRET=change_me_mobile_auth_secret
MOBILE_AUTH_MAX_AGE_SECONDS=2592000
AUTH_WRONG_PASSWORD_WINDOW_SECONDS=600
AUTH_WRONG_PASSWORD_MAX_ATTEMPTS=5
AUTH_WRONG_PASSWORD_FIRST_BAN_SECONDS=86400
AUTH_WRONG_DEVICE_MAX_ATTEMPTS=3
CLIENT_NOTICE_TITLE=使用说明
CLIENT_NOTICE_MESSAGE=本软件为完全免费开源软件，基于影梭打造，仅供学习交流，禁止盈利，目前仅测试过阳光校园跑，其他的你们自行测试，QQ群号：951300122
CLIENT_NOTICE_GROUP_NUMBER=951300122
CLIENT_BILIBILI_TEXT=此为 bilibili UP 主开发的免费开源软件
CLIENT_BILIBILI_URL=https://space.bilibili.com/1492911803?spm_id_from=333.1007.0.0
